

form div{
    margin: 5px;
    padding: 5px;
}

form span{
    color: red;
}

.container{
    /* max-width: 1170px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{

    border: 1px solid gray;
    /* width: 550px; */
    margin:50px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    padding: 50px;
    font-weight: bold;
    font-size: larger;
    background-color: antiquewhite;
}

.card div{
    margin: 5px;
}

table{
    background-color: antiquewhite;
    border: 1px solid;
}

ul{
    margin-top: 20px;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
    margin: 0 5px;
}
ul a{

    text-decoration: none;
    color:black;
    list-style: none;
    border: 1px solid green;
    padding: 5px;
}
.btn{
    border: 15px soldi red;
    background-color: aqua;

}

.dltImg{
    cursor: pointer;
}

.grp_src{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.search{
    margin:2px;
    display: flex;
    justify-content: space-between;
    
}